
:root {

    --thema-dark: #333;
    --thema-light: rgb(208, 216, 223);

    --font-dark: #333;
    --font-light: rgb(208, 216, 223);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 75%;
    margin: 0 auto;
}

.catalog-item {
    display: block;
    border: 5px solid black;
    /* background: var(--thema-dark);
    color: var(--font-light); */
}

.catalog-item img {
    max-width: 100%;
    margin: 0 auto;
}

.catalog-item p {
    margin-top: 5px;
    margin-left: 25%;
    font-size: 1.2rem;
    font-weight: 700;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 40px;
    margin: 0 auto;
    padding: 0;
}


@media (prefers-color-scheme: dark) {
    body {
        color: var(--font-light);
        background: var(--thema-dark);
    }

    .catalog-item {
        display: block;
        border: 5px solid var(--thema-light);
        background: var(--thema-dark);
        color: var(--font-light);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: var(--font-dark);
        background: var(--thema-light);
    }

    .catalog-item {
        display: block;
        border: 5px solid var(--thema-dark);
        background: var(--thema-light);
        color: var(--font-dark);
    }
}


@media screen and (max-width: 1300px) {
    body {
        color: var(--font-light);
        background: var(--thema-dark);
    }

    .catalog {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px 40px;
        margin: 0 auto;
        padding: 0;
    }

    .catalog-item {
        display: block;
        border: 5px solid var(--thema-light);
        background: var(--thema-dark);
        color: var(--font-light);
    }
}